.page
  display: flex
  flex-direction: row
  column-gap: 2rem
  padding: 1rem
  justify-content: space-between
  background-color: aliceblue
  height: 100vh
  .subpage
    display: flex
    flex-direction: column
    align-items: flex-start
    padding-block-end: 2rem
.customSpace
  height: 100%
  overflow-y: overlay
  overflow-x: hidden